---
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import collectionsJson from "@data/collections.json";
import productsJson from "@data/products.json";
import Card from "@components/Card.astro";

const collections = collectionsJson.contents;
const products = productsJson.contents;
---

<MainLayout>
  <!-- Hero Section -->
  <section>
    <div class="md:hidden">
      <Img src="/images/landing/hero-sm.webp" alt="" />
    </div>
    <div class="hidden md:block">
      <Img src="/images/landing/hero.webp" alt="" />
    </div>
  </section>

  <!-- Collection Section -->
  <section class="container mx-auto px-8">
    <!-- Header -->
    <header>
      <h2 class="text-2xl text-gray-500 py-12 text-center font-bold">
        COLLECTION
      </h2>
    </header>

    <!-- Content -->
    <section>
      <ul class="flex flex-wrap">
        {
          collections.map((collection) => {
            return (
              <li class="p-1 w-1/2 md:w-1/4">
                <figure class="group">
                  <a href={`/${collection.slug}`} class="block overflow-hidden">
                    <div class="duration-500 group-hover:scale-105">
                      <Img src={collection.featuredImg} alt={collection.name} />
                    </div>
                  </a>
                  <figcaption class="relative">
                    <p class="text-center font-medium py-2 text-lg">
                      {collection.name}
                    </p>
                    <a
                      href={`/${collection.slug}`}
                      class="px-8 py-2 border border-black text-black mx-auto block w-fit duration-300 font-medium hover:text-white hover:border-c2 hover:bg-c2"
                    >
                      SHOP NOW
                    </a>
                  </figcaption>
                </figure>
              </li>
            );
          })
        }
      </ul>
    </section>
  </section>

  <!-- Best Selling Section -->
  <section class="container mx-auto px-8 pb-12">
    <!-- Header -->
    <header>
      <h2 class="text-2xl text-gray-500 py-12 text-center font-bold">
        BEST SELLING
      </h2>
    </header>

    <!-- Content -->
    <section>
      <ul class="flex flex-wrap">
        {
          products.map((product) => {
            const { name, price, images } = product;
            return (
              <li class="p-2 w-1/2 md:w-1/3 lg:w-1/6">
                <Card
                  name={name}
                  price={price}
                  image1={images[1].imageUrl}
                  image2={images[0].imageUrl}
                  href={`/products/${name}`}
                />
              </li>
            );
          })
        }
      </ul>
      <button
        class="font-bold border-c2 border bg-orange-50 px-24 text-sm block w-fit mx-auto py-2 mt-8 hover:bg-c2 hover:text-white duration-300"
      >
        SHOW MORE
      </button>
    </section>
  </section>

  <!-- Flower Girl Dress -->
  <section class="lg:border-t">
    <figure class="flex flex-wrap container mx-auto">
      <div class="max-w-[24rem] mx-auto lg:w-1/3">
        <Img src="/images/landing/flower-girl-dress.webp" alt="" />
      </div>
      <figcaption class="p-12 w-full lg:w-2/3">
        <header>
          <h2 class="text-2xl text-gray-500 font-medium text-center">
            FLOWER GIRL DRESS
          </h2>
        </header>

        <!-- Content -->
        <section>
          <ul class="flex overflow-hidden">
            {
              [...products].splice(0, 3).map((product) => {
                const { name, price, images } = product;
                return (
                  <li class="p-2 w-1/2 flex-shrink-0 md:w-1/3">
                    <Card
                      name={name}
                      price={price}
                      image1={images[1].imageUrl}
                      image2={images[0].imageUrl}
                      href={`/products/${name}`}
                    />
                  </li>
                );
              })
            }
          </ul>
        </section>
      </figcaption>
    </figure>
  </section>

  <!-- New Arrivals Section -->
  <section class="py-12 container mx-auto">
    <header class="flex items-center">
      <div class="h-[0.1rem] flex-1 bg-gray-300"></div>
      <h2 class="text-2xl px-8 text-gray-500 font-medium text-center">
        NEW ARRIVALS
      </h2>
      <div class="h-[0.1rem] flex-1 bg-gray-300"></div>
    </header>

    <section class="px-8">
      <!-- Filter -->
      <section class="flex justify-center space-x-2 my-4">
        {
          [...Array(4)].reverse().map((_, index) => {
            const date = new Date();

            const month = date.getMonth() - index;

            const processedDate = new Date(date.setMonth(month));

            return (
              <button
                class={`px-4 py-1 border-black ${index === 0 ? "border" : ""}`}
              >
                {new Intl.DateTimeFormat("en", {
                  month: "short",
                }).format(processedDate)}
              </button>
            );
          })
        }
      </section>

      <!-- Content -->
      <ul class="flex overflow-hidden">
        {
          products.map((product) => {
            const { name, price, images } = product;
            return (
              <li class="flex-shrink-0 p-2 w-1/2 md:w-1/3 lg:w-1/5">
                <Card
                  name={name}
                  price={price}
                  image1={images[1].imageUrl}
                  image2={images[0].imageUrl}
                  href={`/products/${name}`}
                />
              </li>
            );
          })
        }
      </ul>
    </section>
  </section>
</MainLayout>
