---
import siteInfoJson from "@data/site-info.json";
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import subCollectionsJson from "@data/sub-collections.json";
import CardSelection from "@components/CardSelection.astro";
import { collectionGetProductsOffline } from "../domain/services/collectionService";
import {
  utilConvertToPhp,
  utilOptimizeColorVariants,
} from "src/domain/services/utilService";
import Container from "@layouts/Container.astro";
import ShopeeIcon from "src/assets/ShopeeIcon.astro";
import LazadaIcon from "src/assets/LazadaIcon.astro";

const subCollections = subCollectionsJson.contents;

// New Items Section
const newItemsSectionProducts = await collectionGetProductsOffline(
  "gid://shopify/Collection/263704182921"
);

// Best selling
const bestSellingProducts = await collectionGetProductsOffline(
  "gid://shopify/Collection/264346108041"
);

// Flower Girl Dress
const flowerGirlDressProducts = await collectionGetProductsOffline(
  "gid://shopify/Collection/267757224073"
);
---

<MainLayout>
  <!-- Hero Section -->
  <section class="relative bg-c100 py-8 text-c50 lg:py-16">
    <!-- Background -->
    <div class="absolute top-0 h-full w-full overflow-hidden">
      <div class="lg:hidden">
        <Img src="/images/landing/hero-sm.webp" alt="" />
      </div>
      <div class="hidden absolute top-0 w-full h-full lg:block">
        <Img objectPosition="50% 0%" src="/images/landing/hero.webp" alt="" />
      </div>
      <div
        class="absolute w-full h-full top-0 bg-gradient-to-b from-transparent to-c950"
      >
      </div>
    </div>

    <!-- Content -->
    <Container
      className="flex flex-wrap items-end h-[80vh] lg:h-[65vh] lg:max-h-[700px]"
    >
      <section class="w-full relative lg:w-1/2">
        <header>
          <h2 class="font-bold text-4xl md:text-5xl">
            Discover Stunning Attire for Every Occasion
          </h2>
        </header>
        <section>
          <p class="my-8">
            <!-- Construct a good sub title -->
            Unleash Your Fashion Potential with Trendsetting Dresses for Women, Girls,
            and Boys: Elevate Your Wardrobe with Impeccable Attire for Every Special
            Occasion and Everyday Wear.
          </p>
        </section>

        <footer>
          <section class="flex items-center space-x-2">
            <a
              href={siteInfoJson.lazada}
              class="pr-8 pl-6 py-2 border border-c50 duration-300 font-medium hover:bg-c600"
            >
              <div class="flex space-x-2 items-center">
                <div class="w-6 h-6">
                  <LazadaIcon />
                </div>
                <p>LAZADA</p>
              </div>
            </a>

            <a
              target="_blank"
              href={siteInfoJson.shopee}
              class="pr-8 pl-6 py-2 border border-c50 duration-300 font-medium hover:bg-c600"
            >
              <div class="flex space-x-2 items-center">
                <div class="w-6 h-6">
                  <ShopeeIcon />
                </div>
                <p>SHOPEE</p>
              </div>
            </a>
          </section>
          <p class="text-sm font-bold">Official online stores</p>
        </footer>
      </section>
    </Container>
  </section>

  <!-- Collection Section -->
  <Container>
    <!-- Header -->
    <header>
      <h2 class="text-2xl text-gray-500 py-12 text-center font-bold">
        COLLECTIONS
      </h2>
    </header>

    <!-- Content -->
    <section class="relative">
      <ul class="grid grid-cols-3 text-c50">
        {
          subCollections.map((collection) => {
            return (
              <li class={`col-span-3 p-1 lg:col-span-1`}>
                <figure class="group relative rounded-md overflow-hidden">
                  <div class="absolute w-full h-full duration-500 group-hover:scale-105">
                    <Img
                      objectPosition="50% 0%"
                      src={collection.featuredImg}
                      alt={collection.name}
                    />
                  </div>

                  <figcaption class="relative duration-1000 flex flex-col text-c50 bg-c950 bg-opacity-75 lg:bg-opacity-50 group-hover:bg-opacity-75">
                    <a
                      href={`/${collection.slug}`}
                      class="flex-1 flex-col flex pb-8 pt-24 justify-center items-center lg:pt-40"
                    >
                      <p class="underline font-bold text-2xl group-hover:no-underline">
                        {collection.name}
                      </p>
                      <p class="w-4/5 mx-auto text-center duration-1000 lg:opacity-0 group-hover:opacity-100">
                        {collection.description}
                      </p>
                    </a>
                    <div class="flex w-full mt-auto flex-wrap text-center duration-1000 lg:opacity-0 group-hover:opacity-100">
                      <a
                        target="_blank"
                        href={siteInfoJson.lazada}
                        class="px-8 duration-300 w-1/2 py-2 border border-c50 bg-c700 block font-medium hover:text-c700 hover:border-c50 hover:bg-c50"
                      >
                        <div class="flex justify-center space-x-2 items-center">
                          <div class="w-8 h-8">
                            <LazadaIcon />
                          </div>
                          <p>SHOP LAZADA</p>
                        </div>
                      </a>
                      <a
                        target="_blank"
                        href={siteInfoJson.shopee}
                        class="px-8 duration-300 w-1/2 py-2 border border-c50 bg-c700 block font-medium hover:text-c700 hover:border-c50 hover:bg-c50"
                      >
                        <div class="flex justify-center space-x-2 items-center">
                          <div class="w-8 h-8">
                            <ShopeeIcon />
                          </div>
                          <p>SHOP SHOPEE</p>
                        </div>
                      </a>
                    </div>
                  </figcaption>
                </figure>
              </li>
            );
          })
        }
        <li class="col-span-3 p-1">
          <a
            href="/shop-all"
            class="rounded-md block text-center bg-c950 duration-300 bg-opacity-75 text-xl font-bold py-2 lg:py-8 hover:bg-opacity-100"
          >
            BROWSE ALL PRODUCTS
          </a>
        </li>
      </ul>
    </section>
  </Container>

  <!-- Best Selling Section -->
  <Container className="pb-12">
    <!-- Header -->
    <header>
      <h2 class="text-2xl text-gray-500 py-12 text-center font-bold">
        BEST SELLING
      </h2>
    </header>

    <!-- Content -->
    <section>
      <ul class="flex flex-wrap">
        {
          [...bestSellingProducts].splice(0, 6)?.map((product) => {
            const images = product?.images.nodes ?? [];
            const image = images
              ? images[images.length - 1]
              : product?.featuredImage;

            return (
              <li class="p-2 w-1/2 md:w-1/3 lg:w-1/6">
                <CardSelection
                  name={product?.title ?? ""}
                  price={
                    utilConvertToPhp(
                      Number(product.priceRangeV2.minVariantPrice.amount) ?? 0,
                      product?.priceRangeV2.minVariantPrice.currencyCode ?? ""
                    ) ?? 0
                  }
                  secondaryImage={image?.url ?? "/images/placeholder.png"}
                  variants={utilOptimizeColorVariants(
                    product?.variants.nodes ?? []
                  )}
                  href={`/products/${product?.handle}`}
                />
              </li>
            );
          })
        }
      </ul>
      <!-- <button
        class="font-bold border-c2 border bg-orange-50 px-24 text-sm block w-fit mx-auto py-2 mt-8 hover:bg-c2 hover:text-white duration-300"
      >
        SHOW MORE
      </button> -->
    </section>
  </Container>

  <!-- Flower Girl Dress -->
  <section class="lg:border-t">
    <Container>
      <figure class="flex flex-wrap">
        <div class="max-w-[24rem] mx-auto lg:max-w-[unset] lg:w-1/3">
          <Img src="/images/landing/flower-girl-dress.webp" alt="" />
        </div>
        <figcaption class="w-full py-4 lg:p-12 lg:w-2/3">
          <header>
            <h2 class="text-2xl text-gray-500 font-medium text-center">
              FLOWER GIRL DRESS
            </h2>
          </header>

          <!-- Content -->
          <section>
            <ul class="flex flex-wrap pb-8">
              {
                flowerGirlDressProducts?.splice(0, 4).map((product) => {
                  const images = product?.images.nodes ?? [];
                  const image = images
                    ? images[images.length - 1]
                    : product?.featuredImage;

                  return (
                    <li class="p-2 w-1/2 flex-shrink-0 md:w-1/3">
                      <CardSelection
                        name={product?.title ?? ""}
                        price={
                          utilConvertToPhp(
                            Number(
                              product?.priceRangeV2.minVariantPrice.amount
                            ) ?? 0,
                            product?.priceRangeV2.minVariantPrice
                              .currencyCode ?? ""
                          ) ?? 0
                        }
                        secondaryImage={image?.url ?? "/images/placeholder.png"}
                        variants={utilOptimizeColorVariants(
                          product?.variants.nodes ?? []
                        )}
                        href={`/products/${product?.handle}`}
                      />
                    </li>
                  );
                })
              }
            </ul>
          </section>
        </figcaption>
      </figure>
    </Container>
  </section>

  <!-- New Arrivals Section -->
  <Container className="py-12">
    <header class="flex items-center">
      <div class="h-[0.1rem] flex-1 bg-gray-300"></div>
      <h2 class="text-2xl px-8 text-gray-500 font-medium text-center">
        New Arrivals
      </h2>
      <div class="h-[0.1rem] flex-1 bg-gray-300"></div>
    </header>

    <section class="lg:px-8">
      <!-- Filter -->
      <!-- <section class="flex justify-center space-x-2 my-4">
        {
          [...Array(4)].reverse().map((_, index) => {
            const date = new Date();

            const month = date.getMonth() - index;

            const processedDate = new Date(date.setMonth(month));

            return (
              <button
                class={`px-4 py-1 border-black ${index === 0 ? "border" : ""}`}
              >
                {new Intl.DateTimeFormat("en", {
                  month: "short",
                }).format(processedDate)}
              </button>
            );
          })
        }
      </section> -->

      <!-- Content -->
      <ul class="flex flex-wrap pb-8">
        {
          [...newItemsSectionProducts]?.splice(0, 4).map((product, index) => {
            const images = product?.images.nodes ?? [];
            const image = images
              ? images[images.length - 1]
              : product?.featuredImage;

            return (
              <li class="flex-shrink-0 p-2 w-1/2 md:w-1/3 lg:w-1/5">
                <CardSelection
                  name={product?.title ?? ""}
                  price={
                    utilConvertToPhp(
                      Number(product.priceRangeV2.minVariantPrice.amount) ?? 0,
                      product?.priceRangeV2.minVariantPrice.currencyCode ?? ""
                    ) ?? 0
                  }
                  secondaryImage={image?.url ?? "/images/placeholder.png"}
                  variants={utilOptimizeColorVariants(
                    product?.variants.nodes ?? []
                  )}
                  href={`/products/${product?.handle}`}
                />
              </li>
            );
          })
        }
      </ul>
    </section>
  </Container>
</MainLayout>
