---
import { Img } from "astro-imagetools/components";
import type { CommonVariants } from "src/domain/models/commonModel";

interface Props {
  name: string;
  secondaryImage: string;
  href: string;
  price: number;
  variants: CommonVariants[];
}

const { name, secondaryImage, href, price, variants } = Astro.props as Props;
---

<card-selection>
  <figure>
    <a href={href} class="relative block group pb-[150%]">
      <!-- Secondary Image -->
      <div
        class="top-0 absolute left-0 h-full w-full duration-500 z-1 opacity-0 group-hover:opacity-100"
      >
        <Img
          breakpoints={[320]}
          src={secondaryImage ?? "/images/placeholder.png"}
          alt={name}
        />
      </div>

      <!-- Different Variant Image -->
      {
        variants.map((variant) => {
          if (variant.image) {
            return (
              <div class="variants absolute h-ful left-0 hidden top-0 w-full duration-500 group-hover:opacity-0">
                <Img
                  breakpoints={[320]}
                  src={variant.image?.url ?? "/images/placeholder.png"}
                  alt={name}
                />
              </div>
            );
          }
          return null;
        })
      }
      <p
        class="absolute bg-black bottom-0 text-sm w-full opacity-0 duration-500 text-white bg-opacity-75 text-center group-hover:opacity-100"
      >
        Quick View
      </p>
    </a>
    <figcaption class="mt-8">
      <p class="text-sm font-gray-500 font-light line-clamp-1 text-center">
        {name}
      </p>
      <p class="text-center text-c2 font-bold">
        {
          new Intl.NumberFormat("en", {
            currency: "PHP",
            style: "currency",
          }).format(price)
        }
      </p>
      <ul class="flex justify-center mt-2">
        {
          [...variants].splice(0, 4).map((variant) => {
            return (
              <li class="relative z-[10]">
                <button class="relative block border border-c2 z-[1] overflow-hidden rounded-full w-9 h-9 p-1 peer">
                  <Img
                    breakpoints={[144]}
                    src={variant.image?.url ?? "/images/placeholder.png"}
                    alt={name}
                  />
                </button>
                <div class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white transition opacity-0 peer-hover:opacity-100">
                  <div class="mx-auto -rotate-45 h-4 w-4 bg-c2" />
                  <p class="w-min capitalize text-xs p-2 bg-c2 -mt-4 relative">
                    {variant.title}
                  </p>
                </div>
              </li>
            );
          })
        }
        {
          variants.length > 4 && (
            <li>
              <a
                href={href}
                class="block overflow-hidden rounded-full w-8 h-8 p-1"
              >
                <span class="text-c2">+{variants.length - 4}</span>
              </a>
            </li>
          )
        }
      </ul>
    </figcaption>
  </figure>
</card-selection>

<script>
  class CardSelection extends HTMLElement {
    constructor() {
      super();

      let index = 0;
      const variants = this.querySelectorAll(".variants");
      const buttons = this.querySelectorAll("button");

      buttons.forEach((button, i) => {
        button.addEventListener("click", () => {
          index = i;
          resetState();
          setActiveState();
        });
      });

      function resetState() {
        variants.forEach((variant) => {
          variant.classList.add("hidden");
        });
        buttons.forEach((button) => {
          button.classList.remove("border");
        });
      }

      function setActiveState() {
        variants[index]?.classList.remove("hidden");
        buttons[index]?.classList.add("border");
      }

      resetState();
      setActiveState();
    }
  }

  customElements.define("card-selection", CardSelection);
</script>
