---
import siteInfoJson from "@data/site-info.json";
import { Img } from "astro-imagetools/components";
import { Icon } from "astro-icon";

const { topMessages, socialMedias } = siteInfoJson;

const navigations = [
  {
    name: "MOMMY & ME",
    href: "/mommy-and-me",
  },
  {
    name: "GIRLS",
    href: "/girls",
  },
  {
    name: "BOYS",
    href: "/boys",
  },
  {
    name: "WOMEN",
    href: "/women",
  },
  {
    name: "EXCLUSIVES",
    href: "/exclusives",
  },
  {
    name: "ACCESORIES",
    href: "/accesories",
  },
  {
    name: "SHOP ALL",
    href: "/shop-all",
  },
  {
    name: "OUR STORY",
    href: "/our-story",
  },
];
---

<header>
  <!-- Top -->
  <section class="text-sm font-light pt-1 pb-2 bg-bg1 text-gray-500">
    <!-- Top -->
    <section class="px-8">
      <ul class="flex space-x-6 justify-center">
        {
          topMessages.map((message) => {
            return <li class="italic">{message}</li>;
          })
        }
      </ul>
    </section>

    <!-- Bottom -->
    <section class="container mt-2 mx-auto">
      <section class="flex justify-between px-8">
        <ul class="flex space-x-4">
          {
            socialMedias.map((link) => {
              return (
                <li>
                  <a href={link.href} target="_blank">
                    <Icon class="w-5 h-5" name={link.iconify} />
                  </a>
                </li>
              );
            })
          }
        </ul>
        <div class="flex divide-gray-400 divide-x-[0.1rem] [&>*]:px-4">
          <p>
            Customer Service: {siteInfoJson.customerService.email}
          </p>
          <p>Login</p>
          <p>PHP</p>
        </div>
      </section>
    </section>
  </section>

  <!-- Bottom -->
  <section class="py-4 container mx-auto px-8">
    <!-- Top -->
    <section class="flex justify-center relative">
      <!-- Centered Logo -->
      <div class="w-40">
        <Img src="/images/logo.webp" alt="allovin" />
      </div>

      <!-- Search and Cart button -->
      <div class="absolute right-0 top-1/2 -translate-y-1/2 flex space-x-4">
        <div class="relative">
          <input class="border p-2 font-light text-sm" placeholder="Search" />
          <Icon
            class="w-6 h-6 pointer-events-none absolute right-2 top-1/2 -translate-y-1/2"
            name="mdi-light:magnify"
          />
        </div>
        <button>
          <Icon
            class="w-8 h-8 text-gray-500"
            name="clarity:shopping-bag-line"
          />
        </button>
      </div>
    </section>

    <!-- Desktop Navigations -->
    <nav class="mt-4">
      <ul class="flex justify-center space-x-8">
        {
          navigations.map((link) => {
            return (
              <li class="relative">
                <a class="text-c1 text-lg font-light peer" href={link.href}>
                  {link.name}
                </a>
                <div class="absolute scale-x-0 w-full h-[0.1rem] origin-bottom-left transition bottom-0 bg-c1 peer-hover:scale-x-100" />
              </li>
            );
          })
        }
      </ul>
    </nav>
  </section>
</header>
