---
import siteInfoJson from "@data/site-info.json";
import Container from "@layouts/Container.astro";

const { topMessages, socialMedias } = siteInfoJson;
---

<section class="text-sm font-light pt-1 pb-2 bg-bg1 text-gray-500">
  <!-- Top -->
  <section class="px-2 lg:px-8">
    <ul class="flex flex-wrap space-x-6 justify-center">
      {
        topMessages.map((message) => {
          return <li class="italic">{message}</li>;
        })
      }
    </ul>
  </section>

  <!-- Bottom -->
  <Container className="hidden mt-2 lg:block">
    <section class="flex justify-between px-8">
      <ul class="flex space-x-4">
        {
          socialMedias.map((link) => {
            return (
              <li>
                <a href={link.href} target="_blank">
                  <img class="w-5 h-5" src={link.icon} alt={link.name} />
                </a>
              </li>
            );
          })
        }
      </ul>
      <div class="flex divide-gray-400 divide-x-[0.1rem] [&>*]:px-4">
        <p>
          Customer Service:
          <a
            class="text-blue-500 underline hover:no-underline"
            target="_blank"
            href={`mailto:${siteInfoJson.customerService.email}`}
          >
            {siteInfoJson.customerService.email}
          </a>
        </p>
        <div>
          <p>
            Shop here:
            <a
              class="text-blue-500 underline hover:no-underline"
              target="_blank"
              href={siteInfoJson.lazada}
            >
              Lazada
            </a>
            and
            <a
              class="text-blue-500 underline hover:no-underline"
              target="_blank"
              href={siteInfoJson.shopee}
            >
              Shopee
            </a>
          </p>
        </div>
      </div>
    </section>
  </Container>
</section>
