---
import siteInfoJson from "@data/site-info.json";
import Container from "@layouts/Container.astro";
import FacebookIcon from "src/assets/FacebookIcon.astro";
import InstagramIcon from "src/assets/InstagramIcon.astro";
import PinterestIcon from "src/assets/PinterestIcon.astro";
import LazadaIcon from "src/assets/LazadaIcon.astro";
import ShopeeIcon from "src/assets/ShopeeIcon.astro";
---

<section class="text-sm font-light bg-c50 text-c900 lg:py-1">
  <!-- Bottom -->
  <Container className="hidden lg:block">
    <section class="flex justify-between px-8">
      <div class="flex space-x-1">
        <p>Social media sites:</p>
        <div class="flex space-x-2">
          <a href={siteInfoJson.facebook} target="_blank">
            <div class="w-5 h-5 hover:text-c500">
              <FacebookIcon />
            </div>
          </a>
          <a href={siteInfoJson.instagram} target="_blank">
            <div class="w-5 h-5 hover:text-c500">
              <InstagramIcon />
            </div>
          </a>
          <a href={siteInfoJson.pinterest} target="_blank">
            <div class="w-5 h-5 hover:text-c500">
              <PinterestIcon />
            </div>
          </a>
        </div>
      </div>
      <div class="flex divide-gray-400 divide-x-[0.1rem] [&>*]:px-4">
        <div class="flex items-center space-x-2">
          <p>Official online stores:</p>
          <a
            class="text-blue-500 underline items-center hover:no-underline"
            target="_blank"
            href={siteInfoJson.lazada}
          >
            <div class="flex items-center">
              <span>Lazada</span>
              <div class="w-5 h-5"><LazadaIcon /></div>
            </div>
          </a>
          <p>and</p>
          <a
            class="text-blue-500 underline items-center hover:no-underline"
            target="_blank"
            href={siteInfoJson.shopee}
          >
            <div class="flex items-center">
              <span>Shopee</span>
              <div class="w-5 h-5"><ShopeeIcon /></div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </Container>
</section>
