---
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import ProductDetails from "@components/products/ProductDetails.astro";
import {
  utilConvertToPhp,
  utilOptimizeColorVariants,
} from "src/domain/services/utilService";
import products from "@data/shopify/products.json";
import Container from "@layouts/Container.astro";
import RightChevronIcon from "@assets/RightChevronIcon.astro";
import LeftChevronIcon from "@assets/LeftChevronIcon.astro";
import LazadaIcon from "@assets/LazadaIcon.astro";
import ShopeeIcon from "@assets/ShopeeIcon.astro";
import siteInfoJson from "@data/site-info.json";

export async function getStaticPaths() {
  // const products = await productGetAll(250);

  if (!products) {
    return [];
  }

  const paths = products.map((product: any) => ({
    params: { product: product.handle },
    props: {
      productData: product,
    },
  }));

  return paths;
}

interface Props {
  productData: Record<string, any>;
}

const { productData } = Astro.props as Props;

// const product = await productGetDetails(productId);
const productColors = utilOptimizeColorVariants(
  productData?.variants.nodes ?? []
);

if (
  (productData &&
    productData?.handle === "allovin-winged-unicorn-fairy-costume") ||
  productData?.handle === "toddler-girls-rhinestone-crown-decor-hair-clip" ||
  productData?.handle ===
    "allovin-toddler-girl-christening-baptism-flower-lace-dress-purple"
) {
  productData.images.nodes = [];
}

const price = utilConvertToPhp(
  Number(productData.priceRangeV2.minVariantPrice.amount),
  "USD"
);
// console.log(productData);
---

<MainLayout
  pageTitle={productData.seo.title ?? productData.title}
  pageDescription={productData.seo.description ?? productData.description}
  ogImage={productData.featuredImage?.url ?? productData.images.nodes[0]?.url}
>
  <section class="border-t">
    <Container>
      <figure class="flex flex-wrap">
        <!-- Product Gallery -->
        <div class="flex-1 flex items-center h-fit sticky lg:top-32">
          <!-- Product Gallery Navigation -->
          <div
            class="w-24 h-[75vh] overflow-hidden hidden relative group lg:block"
          >
            <swiper-container
              init="false"
              data-carousel-pagination
              class="w-full h-full"
            >
              {
                productData?.images.nodes.map((image: any, index: number) => {
                  return (
                    <swiper-slide>
                      <div class="cursor-pointer hover:opacity-50">
                        <Img
                          loading={index < 5 ? "eager" : "lazy"}
                          breakpoints={[144]}
                          src={image.url}
                          alt={productData?.title ?? ""}
                        />
                      </div>
                    </swiper-slide>
                  );
                })
              }
            </swiper-container>

            <button
              id="carousel-pagination-next"
              aria-label="Next Carousel Pagination"
              class="absolute bottom-0 w-full z-[1] group/button"
            >
              <!-- Background -->
              <div
                class="absolute inset-0 bg-gradient-to-t from-c950 to-transparent opacity-0 duration-500 group-hover:opacity-25 group-hover/button:opacity-50"
              >
              </div>

              <div
                class="relative h-8 w-8 mx-auto transition group-hover/button:text-white"
              >
                <RightChevronIcon />
              </div>
            </button>

            <button
              id="carousel-pagination-prev"
              aria-label="Previous Carousel Pagination"
              class="absolute top-0 w-full z-[1] group/button"
            >
              <!-- Background -->
              <div
                class="absolute inset-0 bg-gradient-to-b from-c950 to-transparent opacity-0 duration-500 group-hover:opacity-25 group-hover/button:opacity-50"
              >
              </div>

              <div
                class="relative h-8 w-8 mx-auto transition group-hover/button:text-white"
              >
                <LeftChevronIcon />
              </div>
            </button>
          </div>

          <!-- Product Gallery Main -->
          <div class="p-2 flex-1">
            <swiper-container
              init="false"
              data-carousel
              class="w-[300px] xl:w-[500px]"
            >
              {
                productData?.images.nodes.map((image: any, index: number) => {
                  return (
                    <swiper-slide>
                      <div data-carousel-images data-url={image.url}>
                        <Img
                          loading={index === 0 ? "eager" : "lazy"}
                          breakpoints={[320, 768]}
                          src={image.url}
                          alt={productData?.title ?? ""}
                        />
                      </div>
                    </swiper-slide>
                  );
                })
              }
            </swiper-container>
          </div>
        </div>

        <!-- Information -->
        <section class="w-full lg:w-5/12">
          <header class="lg:max-w-[450px]">
            <h1 class="text-2xl font-medium text-gray-500">
              {productData?.title}
            </h1>
          </header>

          <!-- Price -->
          <section>
            <p class="font-bold text-lg text-p500">
              {
                new Intl.NumberFormat("en", {
                  style: "currency",
                  currency: "PHP",
                }).format(price ?? 0)
              }
            </p>
          </section>

          <!-- Color Variation -->
          <section class="my-2">
            <div>
              <p class="text-xs text-gray-500">
                Color: <span data-color-name class="capitalize font-bold">
                  {productColors[0]?.title ?? ""}
                </span>
              </p>
              <ul class="flex space-x-2 mt-2">
                {
                  productColors.map((item) => {
                    return (
                      <li class="relative">
                        <button
                          data-color={item.title}
                          data-url={
                            item.image?.url ?? "/images/placeholder.png"
                          }
                          data-product-details-page-colors
                          class="w-8 h-8 p-1 rounded-full border-2 border-gray-500 overflow-hidden peer"
                        >
                          <Img
                            loading="eager"
                            breakpoints={[144]}
                            src={item.image?.url ?? "/images/placeholder.png"}
                            alt={item.title}
                          />
                        </button>
                        <div class="absolute bottom-0 translate-y-full left-1/2 -translate-x-1/2 text-white transition opacity-0 pointer-events-none peer-hover:opacity-100">
                          <div class="mx-auto -rotate-45 h-4 w-4 bg-c2" />
                          <p class="w-min capitalize text-xs p-2 bg-c2 -mt-4 relative">
                            {item.title}
                          </p>
                        </div>
                      </li>
                    );
                  })
                }
              </ul>
            </div>
          </section>

          <!-- Online stores redirection -->
          <section class="my-4">
            <header>
              <h2 class="text-xs font-bold">
                Offical online stores in the Philippines
              </h2>
            </header>
            <div class="flex space-x-2">
              <a
                target="_blank"
                href={productData.lazadaId
                  ? `https://lazada.com.ph/products/${productData.lazadaId}`
                  : siteInfoJson.lazada}
                class="py-2 rounded-sm border block text-center transition border-p400 text-p500 flex-1 hover:bg-p400 hover:text-white"
              >
                <div class="flex space-x-2 items-center justify-center">
                  <p>LAZADA</p>
                  <div class="w-6 h-6">
                    <LazadaIcon />
                  </div>
                </div>
              </a>
              <a
                target="_blank"
                href={siteInfoJson.shopee}
                class="py-2 rounded-sm border block text-center transition border-p400 text-p500 flex-1 hover:bg-p400 hover:text-white"
              >
                <div class="flex space-x-2 items-center justify-center">
                  <p>SHOPEE</p>
                  <div class="w-6 h-6">
                    <ShopeeIcon />
                  </div>
                </div>
              </a>
            </div>
          </section>

          <ul>
            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DESCRIPTION">
                <div
                  class="[&>div>p]:py-4"
                  set:html={productData?.descriptionHtml}
                />
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DETAILS AND CARE">
                <div class="space-y-4">
                  <p>
                    We suggest hanging the garment in its own space to help any
                    creases or wrinkles fall out of the fabric. All of our
                    garments can be steamed, though we recommend a moderate
                    temperature and a safe distance of about 15cm between the
                    garment and the steamer.
                  </p>
                  <p>
                    Please keep in mind that each embellishment is individually
                    hand beaded onto the garment over time 1 or 2 beads will
                    fall off.
                  </p>
                  <p>For more information, view our Care Instructions here.</p>
                  <div>
                    <p class="font-bold">Color</p>
                    <p>
                      We recommend to refer to the product image as it portrays
                      the most accurate color of the garment in real life.
                    </p>
                  </div>
                </div>
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="SIZE AND FIT">
                <div class="space-y-4">
                  <p>
                    Elastic enclosed at waist and stretchy cotton bodice for
                    ease to wear over the years. We focus on creating garments
                    that are true to size, however, If in between the sizes,
                    please go a size up.
                  </p>
                  <p>
                    Please keep in mind that the size of the garment may not be
                    equivalent to the age of your child. We strongly recommend
                    to refer to our size guide before purchasing.
                  </p>
                </div>
              </ProductDetails>
            </li>
          </ul>
        </section>
      </figure>

      <section class="py-16 space-y-16 md:space-y-0">
        <figure
          class="flex flex-wrap flex-row-reverse items-center space-y-16 md:space-y-0"
        >
          <div class="flex w-full md:w-1/2">
            <Img
              breakpoints={[320, 768]}
              src="/images/products/made-with-love.webp"
              alt="Made with love"
            />
          </div>
          <figcaption class="text-center w-full md:w-1/2">
            <header>
              <h2 class="text-xl md:text-2xl lg:text-3xl">MADE WITH LOVE</h2>
            </header>
            <p class="mx-auto md:w-3/4">
              Allovin, pronounced as /ɔːlʌvɪŋ/, means all love in. At the root
              of Allovin is a mom who loves design and art, and wanted more from
              the products they were using on herself and her young children.
            </p>
          </figcaption>
        </figure>

        <figure class="flex flex-wrap items-center space-y-16 md:space-y-0">
          <div class="flex w-full md:w-1/2">
            <Img
              breakpoints={[320, 768]}
              src="/images/products/make-life-memorable.webp"
              alt="Made with love"
            />
          </div>
          <figcaption class="text-center w-full md:w-1/2">
            <header>
              <h2 class="text-xl md:text-2xl lg:text-3xl">
                MAKE LIFE MEMORABLE
              </h2>
            </header>
            <p class="mx-auto md:w-3/4">
              Whether it be birthdays,weddings or just playing make believe,
              your little girl's next dream outfit awaits!
            </p>
          </figcaption>
        </figure>
      </section>
    </Container>
  </section>
</MainLayout>

<script>
  import { register } from "swiper/element/bundle";
  import type { SwiperOptions } from "swiper/types";
  register();

  const carousel = document.querySelector<any>("[data-carousel]");
  const carouselPagination = document.querySelector<any>(
    "[data-carousel-pagination]"
  );
  const carouselImages = document.querySelectorAll<any>(
    "[data-carousel-images]"
  );
  const colorVariants = document.querySelectorAll<HTMLButtonElement>(
    "[data-product-details-page-colors]"
  );
  const colorName =
    document.querySelector<HTMLSpanElement>("[data-color-name]")!;

  const carouselParams: SwiperOptions = {
    slidesPerView: 1,
    pagination: true,
    navigation: true,
    on: {
      slideChange: (swiper) => {
        const index = swiper.realIndex;
        carouselPagination.swiper.slideTo(index);
      },
    },
  };

  const carouselPaginationParams: SwiperOptions = {
    slidesPerView: 5,
    navigation: {
      nextEl: "#carousel-pagination-next",
      prevEl: "#carousel-pagination-prev",

      disabledClass: "hidden",
    },
    direction: "vertical",
    spaceBetween: 10,
    on: {
      click: (swiper) => {
        const index = swiper.clickedIndex;
        carousel.swiper.slideTo(index);

        carouselPagination.swiper.slideTo(index);
      },
    },
  };

  Object.assign(carousel, carouselParams);
  Object.assign(carouselPagination, carouselPaginationParams);

  carousel.initialize();
  carouselPagination.initialize();

  colorVariants.forEach((colorVariant) => {
    colorVariant.addEventListener("click", () => {
      const dataUrl = colorVariant.dataset.url;
      const dataColor = colorVariant.dataset.color;

      colorName.innerHTML = dataColor ?? "N/A";

      const index = Array.from(carouselImages).findIndex((image) => {
        return image.dataset.url === dataUrl;
      });

      carousel.swiper.slideTo(index);
    });
  });
</script>
