---
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import ProductDetails from "@components/products/ProductDetails.astro";
import {
  productGetAll,
  productGetDetails,
} from "src/domain/services/productService";
import { utilOptimizeColorVariants } from "src/domain/services/utilService";
import ProductGallery from "@components/products/ProductGallery.astro";

export async function getStaticPaths() {
  const products = await productGetAll(250);

  if (!products) {
    return [];
  }

  const paths = products.map((product: any) => ({
    params: { product: product.handle },
    props: {
      productId: product.id,
    },
  }));

  return paths;
}

interface Props {
  productId: string;
}

const { productId } = Astro.props as Props;

const product = await productGetDetails(productId);
const productColors = utilOptimizeColorVariants(product?.variants.nodes ?? []);
---

<MainLayout>
  <section class="border-t">
    <section class="container mx-auto px-8">
      <figure class="flex">
        <div class="flex-1 flex h-fit sticky top-32">
          <ProductGallery
            images={product?.images.nodes ?? []}
            name={product?.title ?? ""}
          />
        </div>

        <!-- Information -->
        <section class="w-5/12">
          <header class="max-w-[450px]">
            <h1 class="text-2xl font-medium text-gray-500">{product?.title}</h1>
          </header>

          <!-- Color Variation -->
          <section class="my-2">
            <div>
              <p class="text-xs text-gray-500">
                Color: <span>{productColors[0].title}</span>
              </p>
              <ul class="flex space-x-2 mt-2">
                {
                  productColors.map((item) => {
                    return (
                      <li>
                        <button class="w-8 h-8 p-1 rounded-full border-2 border-gray-500 overflow-hidden">
                          <Img
                            src={item.image?.url ?? "/images/placeholder.png"}
                            alt={item.title}
                          />
                        </button>
                      </li>
                    );
                  })
                }
              </ul>
            </div>
          </section>

          <ul>
            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DESCRIPTION">
                <div set:html={product?.descriptionHtml} />
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DETAILS AND CARE">
                <div class="space-y-4">
                  <p>
                    We suggest hanging the garment in its own space to help any
                    creases or wrinkles fall out of the fabric. All of our
                    garments can be steamed, though we recommend a moderate
                    temperature and a safe distance of about 15cm between the
                    garment and the steamer.
                  </p>
                  <p>
                    Please keep in mind that each embellishment is individually
                    hand beaded onto the garment over time 1 or 2 beads will
                    fall off.
                  </p>
                  <p>For more information, view our Care Instructions here.</p>
                  <div>
                    <p class="font-bold">Color</p>
                    <p>
                      We recommend to refer to the product image as it portrays
                      the most accurate color of the garment in real life.
                    </p>
                  </div>
                </div>
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="SIZE AND FIT">
                <div class="space-y-4">
                  <p>
                    Elastic enclosed at waist and stretchy cotton bodice for
                    ease to wear over the years. We focus on creating garments
                    that are true to size, however, If in between the sizes,
                    please go a size up.
                  </p>
                  <p>
                    Please keep in mind that the size of the garment may not be
                    equivalent to the age of your child. We strongly recommend
                    to refer to our size guide before purchasing.
                  </p>
                </div>
              </ProductDetails>
            </li>
          </ul>
        </section>
      </figure>
    </section>
  </section>
</MainLayout>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
></script>
