---
import MainLayout from "@layouts/MainLayout.astro";
import { Img } from "astro-imagetools/components";
import ProductDetails from "@components/products/ProductDetails.astro";
import { utilOptimizeColorVariants } from "src/domain/services/utilService";
import products from "@data/products.json";

export async function getStaticPaths() {
  // const products = await productGetAll(250);

  if (!products) {
    return [];
  }

  const paths = products.map((product: any) => ({
    params: { product: product.handle },
    props: {
      product,
    },
  }));

  return paths;
}

interface Props {
  product: Record<string, any>;
}

const { product } = Astro.props as Props;

// const product = await productGetDetails(productId);
const productColors = utilOptimizeColorVariants(product?.variants.nodes ?? []);

if (
  (product && product?.handle === "allovin-winged-unicorn-fairy-costume") ||
  product?.handle === "toddler-girls-rhinestone-crown-decor-hair-clip" ||
  product?.handle ===
    "allovin-toddler-girl-christening-baptism-flower-lace-dress-purple"
) {
  product.images.nodes = [];
}

// console.log(product);
---

<MainLayout>
  <section class="border-t">
    <section class="container mx-auto px-8">
      <figure class="flex flex-wrap">
        <!-- Product Gallery -->
        <div class="flex-1 flex items-center h-fit sticky lg:top-32">
          <!-- Product Gallery Navigation -->
          <div class="w-24 h-[75vh] overflow-hidden hidden lg:block">
            <swiper-container
              direction="vertical"
              slides-per-view="5"
              speed="500"
              loop="true"
              class="w-full h-full"
            >
              {
                product?.images.nodes.map((image: any) => {
                  return (
                    <swiper-slide>
                      <Img
                        breakpoints={[144]}
                        src={image.url}
                        alt={product?.title ?? ""}
                      />
                    </swiper-slide>
                  );
                })
              }
            </swiper-container>
          </div>

          <!-- Product Gallery Main -->
          <div class="p-2 flex-1">
            <swiper-container
              navigation="true"
              pagination="true"
              speed="500"
              loop="true"
              class="w-[300px] xl:w-[500px]"
            >
              {
                product?.images.nodes.map((image: any) => {
                  return (
                    <swiper-slide>
                      <Img
                        breakpoints={[320, 768]}
                        src={image.url}
                        alt={product?.title ?? ""}
                      />
                    </swiper-slide>
                  );
                })
              }
            </swiper-container>
          </div>
        </div>

        <!-- Information -->
        <section class="w-full lg:w-5/12">
          <header class="lg:max-w-[450px]">
            <h1 class="text-2xl font-medium text-gray-500">{product?.title}</h1>
          </header>

          <!-- Color Variation -->
          <section class="my-2">
            <div>
              <p class="text-xs text-gray-500">
                Color: <span>{productColors[0]?.title ?? ""}</span>
              </p>
              <ul class="flex space-x-2 mt-2">
                {
                  productColors.map((item) => {
                    return (
                      <li>
                        <button
                          data-url={
                            item.image?.url ?? "/images/placeholder.png"
                          }
                          data-product-details-page-colors
                          class="w-8 h-8 p-1 rounded-full border-2 border-gray-500 overflow-hidden"
                        >
                          <Img
                            breakpoints={[144]}
                            src={item.image?.url ?? "/images/placeholder.png"}
                            alt={item.title}
                          />
                        </button>
                      </li>
                    );
                  })
                }
              </ul>
            </div>
          </section>

          <ul>
            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DESCRIPTION">
                <div
                  class="[&>div>p]:py-4"
                  set:html={product?.descriptionHtml}
                />
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="DETAILS AND CARE">
                <div class="space-y-4">
                  <p>
                    We suggest hanging the garment in its own space to help any
                    creases or wrinkles fall out of the fabric. All of our
                    garments can be steamed, though we recommend a moderate
                    temperature and a safe distance of about 15cm between the
                    garment and the steamer.
                  </p>
                  <p>
                    Please keep in mind that each embellishment is individually
                    hand beaded onto the garment over time 1 or 2 beads will
                    fall off.
                  </p>
                  <p>For more information, view our Care Instructions here.</p>
                  <div>
                    <p class="font-bold">Color</p>
                    <p>
                      We recommend to refer to the product image as it portrays
                      the most accurate color of the garment in real life.
                    </p>
                  </div>
                </div>
              </ProductDetails>
            </li>

            <li class="border-b py-2">
              <ProductDetails hidden={false} title="SIZE AND FIT">
                <div class="space-y-4">
                  <p>
                    Elastic enclosed at waist and stretchy cotton bodice for
                    ease to wear over the years. We focus on creating garments
                    that are true to size, however, If in between the sizes,
                    please go a size up.
                  </p>
                  <p>
                    Please keep in mind that the size of the garment may not be
                    equivalent to the age of your child. We strongly recommend
                    to refer to our size guide before purchasing.
                  </p>
                </div>
              </ProductDetails>
            </li>
          </ul>
        </section>
      </figure>

      <section class="py-16 space-y-16 md:space-y-0">
        <figure
          class="flex flex-wrap flex-row-reverse items-center space-y-16 md:space-y-0"
        >
          <div class="flex w-full md:w-1/2">
            <Img
              src="/images/products/made-with-love.webp"
              alt="Made with love"
            />
          </div>
          <figcaption class="text-center w-full md:w-1/2">
            <header>
              <h2 class="text-xl md:text-2xl lg:text-3xl">MADE WITH LOVE</h2>
            </header>
            <p class="mx-auto md:w-3/4">
              Allovin, pronounced as /ɔːlʌvɪŋ/, means all love in. At the root
              of Allovin is a mom who loves design and art, and wanted more from
              the products they were using on herself and her young children.
            </p>
          </figcaption>
        </figure>

        <figure class="flex flex-wrap items-center space-y-16 md:space-y-0">
          <div class="flex w-full md:w-1/2">
            <Img
              src="/images/products/make-life-memorable.webp"
              alt="Made with love"
            />
          </div>
          <figcaption class="text-center w-full md:w-1/2">
            <header>
              <h2 class="text-xl md:text-2xl lg:text-3xl">
                MAKE LIFE MEMORABLE
              </h2>
            </header>
            <p class="mx-auto md:w-3/4">
              Whether it be birthdays,weddings or just playing make believe,
              your little girl's next dream outfit awaits!
            </p>
          </figcaption>
        </figure>
      </section>
    </section>
  </section>
</MainLayout>

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"
></script>

<script>
  const colorVariants = document.querySelectorAll<HTMLButtonElement>(
    "[data-product-details-page-colors]"
  );
  const imagesSwiper = document.querySelector<any>(
    "[data-product-details-page-images-swiper]"
  );
  const images = document.querySelectorAll<HTMLImageElement>(
    "[data-product-details-page-images]"
  );

  colorVariants.forEach((colorVariant) => {
    colorVariant.addEventListener("click", () => {
      const dataUrl = colorVariant.dataset.url;

      const index = Array.from(images).findIndex((image) => {
        return image.src === dataUrl;
      });

      imagesSwiper.activeIndex = index;
      imagesSwiper.disable();
    });
  });
</script>
